/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Georgia, 'Times New Roman', Times, serif,sans-serif, serif, cursive, monospace;
}

/*Estilos del contenedor*/
.contenedorHome{
    display: grid;
    grid-template-areas:"headerHome headerHome"
                        "menuHome menuHome"
                        "mainHome mainHome"
                        "asideHome asideHome"
                        "sectionHome sectionHome"
                        "footer footer";
}

/*Estilos del body*/
.bodyHome{
background-color: #00FFAB;   
}

/*Estilos del header*/
.headerHome{
    background-color: #14C38E;
    grid-area: headerHome;
}

/*Estilos del tituloHome*/
.tituloHome{
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
}

/*Estilos del menu*/
.menuHome{
    background-color: #B8F1B0;
    grid-area: menuHome;
    
}

/*Estilos del main*/
.mainHome{
    grid-area: mainHome;
}

/*Estilos del parrafoUno*/
.parrafoUno{
    display: none;
}

/*Estilos del aside*/
.asideHome{
    display: flex;
    justify-content: center;
    grid-area: asideHome;
    margin: 0.5rem;
}

/*Estilos del sectionHome*/
.sectionHome{
    grid-area: sectionHome;
}

/*Estilos del subtituloHome*/
.subtituloHome{
    font-size: 2.3rem;
    text-align: center;
}

/*Estilos del parrafoDos*/
.parrafoDos{
    font-size: 1.2rem;
    text-align: center;
}

/*Estilos del footer*/
footer{
    grid-area: footer;
    margin: 2rem;
    background-color: white;
    display: inline-block;
}

footer h3{
    font-size: 1rem;
}

footer li a{
    font-size: 1rem;
    list-style-type: none;
    color: black;
    text-decoration: none;
}

/*Estilos de campanias*/

/*Estilos del layout*/
.contenedorCamp{
    display: grid;
    grid-template-areas: "header header"
                         "nav nav"
                         "main main"
                         "section section"
                         "footer footer";
}

/*Estilos del bodyCamp*/
.bodyCamp{
    background-color: #F9CEEE;
}

/*Estilos del header*/
.headerCamp{
    grid-area: header;
    background-color: #F9F3EE;
}

/*Ëstilos del tituloCamp*/
.tituloCamp{
    text-align: center;
    font-size: 3rem;
}

/*Estilos del parrafoCamp*/ 
.parrafoCamp{
    display: 
    none;
}

/*Estilos del menuCamp*/
.menuCamp{
    grid-area: nav;
}

/*Estilos del mainCamp*/
.mainCamp{
    grid-area: main;
    background-color: #CCF3EE;
    /*Estructura interna*/
    display: grid;
    grid-template-areas: "subtitulo"
                         "parrafo"
                         "campuno"
                         "videouno";
}

/*Estilos de los h2 y h3*/
.subtituloCamp{
    grid-area: subtitulo;
    text-align: center;
    font-size: 2rem;
}

.campUno{
    text-align: center;
    font-size: 1.3rem;
    grid-area: campuno;
}

.campDos{
    display: none;
}

.campTres{
    display: none;
}

/*Estilos del parrafoCampdos*/
.parrafoCampdos{
    text-align: center;
    grid-area: parrafo;
}

/*Estilos del sectionCamp*/
.sectionCamp{
    grid-area: section;
}

/*Estilos de los videos*/
.videoUno{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.videoUno iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoDos{
    display: none;
}

.videoTres{
    display: none;
}

/*Estilos del layout*/
.contenedorContacto{
    display: grid;
    grid-template-areas:"header header header"
                        "nav nav nav"
                        "section section section"
                        "main main main"
                        "footer footer footer";
}

/*Estilos del body*/
.bodyContacto{
    background-color: #EBD8C3;
}

/*Estilos del headerContacto*/
.headerContacto{
    grid-area: header;
    background-color: #FFF6EA;
}

/*Estilos del tituloContacto*/
.tituloContacto{
    text-align: center;
    font-size: 4rem;
}

/*Estilos del subtituloContactouno*/
.subtituloContactouno{
    text-align: center;
    font-size: 2.3rem;
}

/*Estilos del menuContacto*/
.menuContacto{
    grid-area: nav;
    background-color: #F7E9D7;
}

/*Estilos del mainContacto*/
.mainContacto{
    grid-area: main;
}

/*Estilos del sectionContacto*/
.sectionContacto{
    grid-area: section;
    margin: 1rem;
}


/*Estilos layout de locales*/
.contenedorLocales{
    display: grid;
    grid-template-areas:"header header"
                        "nav nav"
                        "main main"
                        "section aside"
                        "footer footer";
}

/*Estilos del body*/
.bodyLocales{
    background-color: #f0c2d6;
}

/*Estilos del menu*/
.menuLocales{
    background-color: #d894b0;
    grid-area: nav;
}

/*Estilos del header*/
.headerLocales{
    grid-area: header;
    background-color: #e2a4bd;
}
/*Estilos del tituloLocales*/
.tituloLocales{
    text-align: center;
    font-size: 4rem;
}
/*Estilos del parrafoCuatro*/
.parrafoCuatro{
    display: none;
}

/*Estilos del main*/
.mainLocales{
    grid-area: main;
}

/*Estilos del section*/
.sectionLocales{
    grid-area: section;
}

/*Estilos del asideLocales*/

.asideLocales{
    grid-area: aside;
}

.parrafoSeis{
    display: none;
}

/*Layout de productos*/
.contenedorProductos{
    grid-template-columns: 2fr 2fr;
    display: grid;
    grid-template-areas:"header header"
                        "nav nav"
                        "main main"
                        "aside aside"
                        "section section"
                        "footer footer";
}

/*Estilos del body*/
.bodyProductos{
    background-color: #F9CEEE;
}

/*Estilos del header*/
.headerProductos{
    grid-area: header;
    background-color: #F9F3EE;
}

/*Estilos del tituloProductos*/
.tituloProductos{
    text-align: center;
    font-size: 4rem;
}

/*Estilos del menuProductos*/
.menuProductos{
    grid-area: nav;
}

/*Estilos del main*/
.mainProductos{
    grid-area: main;
}

/*Estilos del subtituloProductos*/
.subtituloProductos{
    text-align: center;
}

/*Estilos del asideProductos*/
.asideProductos{
    grid-area: aside;
}

/*Estilos del sectionProductos*/
.sectionProductos{
    grid-area: section;
    display: flex;
    flex-wrap: nowrap;
}

@media (min-width: 640px){
    /*Considero que las media queries de este breakpoint estan bien asi*/
}

@media (min-width: 1023px){
    /*Estilos del contenedorHome*/
    .contenedorHome{
        height: auto;
        width: auto;
        display: grid;
        grid-template-areas:"headerHome headerHome headerHome headerHome"
                            "menuHome menuHome menuHome menuHome"
                            "mainHome mainHome asideHome asideHome"
                            "sectionHome sectionHome sectionHome sectionHome"
                            "footer footer footer footer";
    }
    /*Estilos del parrafoUno*/
    .parrafoUno{
        display: block;
        margin-top: 4rem;
        font-size: 1.2rem;
    }
    /*Estilos del menuHome*/
    .menuHome{
        font-size: 1.1rem;
    }
    /*Estilos de imgHome*/
    .imgHome{
        width: 100%;
        height: 100%;
    }
    /*Estilos de campanias*/
    /*Estilos del layout*/
    .contenedorCamp{
        grid-template-areas: "header header header header"
                            "nav nav nav nav"
                            "main main main main"
                            "section section section section"
                            "footer footer footer footer";
    }
 /*Estilos del mainCamp*/
.mainCamp{
    grid-area: main;
    background-color: #CCF3EE;
    /*Estructura interna*/
    display: grid;
    grid-template-areas: "subtitulo subtitulo subtitulo"
                         "parrafo parrafo parrafo"
                         "campuno campdos camptres";
    }
    /*Estilos del campUno*/
    .campUno{
        grid-area: campuno;
        display: flex;

    }
    /*Estilos del campTres*/
    .campTres{
        display: inline-block;
        grid-area: camptres;
        font-size: 1.3rem;
        display: flex;
        justify-content: flex-end;
    }
    /*Estilos del campDos*/
    .campDos{
        display: inline-block;
        grid-area: campdos;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
    }

    /*Estilos de los videos*/
    .videoUno{
        display: inline-block;
        width: 560px;
        height: 315px;
        display: flex;
    }

    .videoUno iframe{
        width: 560px;
        height: 315px;
        margin-bottom: 0px;
        overflow: auto;
    }

    .videoDos{
        display: inline-block;
        width: 560px;
        height: 315px;
        display: flex;
        justify-content: center;
    }

    .videoTres{
        display: inline-block;
        width: 560px;
        height: 315px;
        display: flex;
        justify-content: flex-end;
    }

    .sectionCamp{
        display: flex;
        justify-content: space-around;
        background-color: #CCF3EE;
        height: auto;
        width: auto;
    }

    /*Estilos de locales*/
    /*Estilos layout de locales*/
    .contenedorLocales{
        display: grid;
        grid-template-areas:"header header header header"
                            "nav nav nav nav"
                            "main main main main"
                            "section section aside aside"
                            "footer footer footer footer";
    }

    .parrafoSeis{
        display: inline;
        text-align: center;
    }

    /*Estilos de productos*/
    .sectionProductos{
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1280px){
    /*Estilos de campañas*/
    .parrafoCamp{
        display: inline;
    }
    /*Estilos de locales*/
    .parrafoCuatro{
        display: flex;
        justify-content: center;
    }
    /*Estilos de productos*/
    .sectionProductos{
        justify-content: space-around;
    }
}