/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos del contenedor*/
.contenedorHome{
    display: grid;
    grid-template-areas:"headerHome"
                        "mainHome"
                        "asideHome"
                        "sectionHome"
                        "footer";
}

/*Estilos del body*/
.bodyHome{
background-color: antiquewhite;   
}

/*Estilos del tituloHome*/
.tituloHome{
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
}

/*Estilos del menu*/
.menu{
    background-color: #FFFBE9;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
/*Estilos de los li*/
.menu ul li{
    list-style-type: none;
    display: inline-block;
    color: black;
    position: relative;
    margin: 5px;
    font-size: 1.3rem;
}

.menu ul li a:hover{
    color: rgb(226, 198, 198);
    font-weight: bold;
}

.menu ul ul{
    display: none;
    position: absolute;
}
/*Hover*/
.menu ul li:hover > ul{
    display: block;
    background-color: antiquewhite;
}
/*Estilos de los a*/
.menu ul li a{
    color: rgb(3, 2, 1);
}
/*estilos del submenu*/
.sub-menu{
    background-color: beige;
    padding: 10px;
}

/*Estilos del main*/
.mainHome{a
    grid-area: mainHome;a
    display: none;a
}a
a
/*Estilos del aside*/a
.asideHome{a
    display: flex;a
    justify-content: center;a
    grid-area: asideHome;a
}a
a
/*Estilos del sectionHome*/a
.sectionHome{a
    grid-area: sectionHome;a
}a
a
/*Estilos del subtituloHome*/a
.subtituloHome{a
    font-size: 2.3rem;a
}a
a
/*Estilos del parrafoDos*/a
.parrafoDos{a
    font-size: 1.2rem;a
}

/*Estilos del footer*/
footer{
    grid-area: footer;
    margin: 1.5rem;
}

footer li a{
    list-style-type: none;
    color: black;
    text-decoration: none;
}


