
//Imports
@import "utilities/variables";
@import "utilities/_mixins";
@import "utilities/_extends";





/*reset*/
*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
    box-sizing: border-box;
    font-family: Arial, Georgia, 'Times New Roman', Times, serif,sans-serif, serif, cursive, monospace;
}

/*Estilos del bodyHome*/
.bodyHome{
    background-color: #00FFAB;   
    }
/*Estilos del contenedor*/
.contenedorHome{
    display: grid;
    grid-template-areas:"headerHome headerHome"
                        "menuHome menuHome"
                        "mainHome mainHome"
                        "asideHome asideHome"
                        "sectionHome sectionHome"
                        "footer footer";
}

/*Estilos del header*/
.headerHome{
    padding: $margenes-laterales;
    background-color: #14C38E;
    grid-area: headerHome;
    /*Estilos del tituloHome*/
    .tituloHome{
        text-align: center;
        font-size: $medida-titulos;
        text-decoration: underline;
    }
}

/*Estilos del menu*/
nav a{
    transition: all .5s ease;
}
nav .nav-link a:hover{
    transform: scale(1.3,1.3);
}
.menuHome{
    background-color: #B8F1B0;
    grid-area: menuHome;
    
}

/*Estilos del main*/
.mainHome{
    padding: $margenes-laterales;
    margin: 2rem;
    grid-area: mainHome;
    /*Estilos del parrafoUno*/
    .parrafoUno{
    display: inline-block;
    }
}

/*Estilos del aside*/
.asideHome{
    padding: $margenes-laterales;
    display: flex;
    justify-content: center;
    grid-area: asideHome;
    margin: 0.5rem;
    .imgHome{
        
    }
}

/*Estilos del sectionHome*/
.sectionHome{
    padding: $margenes-laterales;
    grid-area: sectionHome;
    .subtituloHome{
    /*Estilos del subtituloHome*/
        font-size: 2.3rem;
        text-align: center;
    }
    .parrafoDos{
        /*Estilos del parrafoDos*/
        font-size: 1.2rem;
        text-align: center;
    }
}
footer{
    margin-top: 2rem;
    @extend %colorheader;
    grid-area: footer;
    display: inline-block;
    position: sticky;
    footer h3{
        font-size: 1rem;
    }
    footer li a{
        font-size: 1rem;
        list-style-type: none;
        color: black;
        text-decoration: none;
    }
}

/*Estilos de campanias*/ 

/*Estilos del bodyCamp*/
.bodyCamp{
    @extend %colorbody;
}

/*Estilos del layout*/
.contenedorCamp{
    display: grid;
    grid-template-areas: "header header"
                         "nav nav"
                         "main main"
                         "section section"
                         "footer footer";
}

/*Estilos del header*/
.headerCamp{
    padding: $margenes-laterales;
    grid-area: header;
    @extend %colorheader;
    .tituloCamp{
        /*Ëstilos del tituloCamp*/
        text-align: center;
        font-size: $medida-titulos;
    } 
}

/*Estilos del menuCamp*/
.menuCamp{
    padding: $margenes-laterales;
    grid-area: nav;
    @extend %colormenu;
}

/*Estilos del mainCamp*/
.mainCamp{
    padding: $margenes-laterales;
    grid-area: main;
    @extend %colorbody;
    /*Estructura interna*/
    display: grid;
    grid-template-areas: "subtitulo"
                         "parrafo";
    .subtituloCamp{
        /*Estilos de los h2*/
        grid-area: subtitulo;
        text-align: center;
        font-size: 2rem;
    }

    .parrafoCampdos{
        /*Estilos del parrafoCampdos*/
        text-align: center;
        grid-area: parrafo;
    }
}

/*Estilos del sectionCamp*/
.sectionCamp{
    padding: $margenes-laterales;
    grid-area: section;
    display: flex;
    flex-wrap: nowrap;
    .imagenCarduno{
        height: 17rem;
    }
    .imagenCarddos{
        height: 17rem;
    }
    .imagenCardtres{
        height: 17rem;
    }
}

/*Estilos de Contacto*/
/*Estilos del body*/
.bodyContacto{
    @extend %colorbody;
}

/*Estilos del layout*/
.contenedorContacto{
    display: grid;
    grid-template-areas:"header header header"
                        "nav nav nav"
                        "section section section"
                        "main main main"
                        "footer footer footer";
}

/*Estilos del headerContacto*/
.headerContacto{
    padding: $margenes-laterales;
    grid-area: header;
    @extend %colorheader;
    .tituloContacto{
        /*Estilos del tituloContacto*/
        text-align: center;
        font-size: $medida-titulos;
    }
    .subtituloContactouno{
        /*Estilos del subtituloContactouno*/
        text-align: center;
        font-size: 2.3rem;
    }
}

/*Estilos del menuContacto*/
.menuContacto{
    padding: $margenes-laterales;
    grid-area: nav;
    @extend %colormenu;
}

/*Estilos del mainContacto*/
.mainContacto{
    padding: $margenes-laterales;
    grid-area: main;
    .formularioContacto{
        padding: 1.2rem;
    }
}

/*Estilos del sectionContacto*/
.sectionContacto{
    padding: $margenes-laterales;
    grid-area: section;
    margin: 1rem;
}

/*Estilos de Locales*/
/*Estilos del body*/
.bodyLocales{
    @extend %colorbody;
}

/*Estilos layout de locales*/
.contenedorLocales{
    display: grid;
    grid-template-areas:"header header"
                        "nav nav"
                        "main main"
                        "section section"
                        "footer footer";
}

/*Estilos del header*/
.headerLocales{
    padding: $margenes-laterales;
    grid-area: header;
    @extend %colorheader;
    .tituloLocales{
        /*Estilos del tituloLocales*/
        text-align: center;
        font-size: $medida-titulos;
    }
}

/*Estilos del menu*/
.menuLocales{
    padding: $margenes-laterales;
    @extend %colormenu;
    grid-area: nav;
}

/*Estilos del main*/
.mainLocales{
    padding: $margenes-laterales;
    grid-area: main;
}

/*Estilos del section*/
.sectionLocales{
    padding: $margenes-laterales;
    grid-area: section;
}

/*Estilos del asideLocales*/
.asideLocales{
    padding: $margenes-laterales;
    grid-area: aside;
    .parrafoSeis{
        /*Estilos del parrafoSeis*/
        display: none;
    }
}

/*Estilos de Productos*/
/*Estilos del body*/
.bodyProductos{
    @extend %colorbody;
}

/*Layout de productos*/
.contenedorProductos{
    display: grid;
    grid-template-areas:"header header"
                        "nav nav"
                        "main main"
                        "aside aside"
                        "section section"
                        "footer footer";
}

/*Estilos del header*/
.headerProductos{
    padding: $margenes-laterales;
    grid-area: header;
    @extend %colorheader;
    .tituloProductos{
        /*Estilos del tituloProductos*/
        text-align: center;
        font-size: $medida-titulos;
    }
}

/*Estilos del menuProductos*/
.menuProductos{
    padding: $margenes-laterales;
    @extend %colormenu;
    grid-area: nav;
}

/*Estilos del main*/
.mainProductos{
    padding: $margenes-laterales;
    grid-area: main;
    .subtituloProductos{
        /*Estilos del subtituloProductos*/
        text-align: center;
    }
}

/*Estilos del asideProductos*/
.asideProductos{
    padding: $margenes-laterales;
    grid-area: aside;
    text-align: center;
}

/*Estilos del sectionProductos*/
.sectionProductos{
    grid-area: section;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .cardUno{
        @include medidas(31.25rem, 31.25rem)
    }
    .cardDos{
        @include medidas(31.25rem, 31.25rem)
    }
    .cardTres{
        @include medidas(31.25rem, 31.25rem)
    }
}

@media (min-width: 640px){
    /*Considero que las media queries de este breakpoint estan bien asi*/
}

@media (min-width: 1023px){
    /*Estilos del contenedorHome*/
    .contenedorHome{
        height: auto;
        width: auto;
        display: grid;
        grid-template-areas:"headerHome headerHome headerHome headerHome"
                            "menuHome menuHome menuHome menuHome"
                            "mainHome mainHome asideHome asideHome"
                            "sectionHome sectionHome sectionHome sectionHome"
                            "footer footer footer footer";
    }
    /*Estilos del parrafoUno*/
    .parrafoUno{
        text-align: center;
        display: grid;
        margin-top: $medida-titulos;
        font-size: 1.2rem;
    }
    /*Estilos del menuHome*/
    .menuHome{
        font-size: 1.1rem;
    }
    /*Estilos de imgHome*/
    .imgHome{
        @include medidas(100%, 100%)
    }
    /*Estilos de campanias*/
    /*Estilos del layout*/
    .contenedorCamp{
        grid-template-areas: "header header header header"
                            "nav nav nav nav"
                            "main main main main"
                            "section section section section"
                            "footer footer footer footer";
    }
 /*Estilos del mainCamp*/
    .mainCamp{
    grid-area: main;
    background-color: #00FFAB;
    /*Estructura interna*/
    display: grid;
    grid-template-areas: "subtitulo subtitulo subtitulo"
                         "parrafo parrafo parrafo";
    }

    .sectionCamp{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    /*Estilos de locales*/
    /*Estilos layout de locales*/
    .contenedorLocales{
        display: grid;
        grid-template-areas:"header header header header"
                            "nav nav nav nav"
                            "main main main main"
                            "section section aside aside"
                            "footer footer footer footer";
    }
}

@media (min-width: 1280px){
    /*Estilos de productos*/
    .sectionProductos{
        justify-content: space-around;
    }
}